{% extends "base.html" %}

{% block content %}

 {% load static %}
  <h1>Automobiliai</h1>
  <p>Mūsų servise registruoti automobiliai.</p>
    {% if automobiliai %}
    <div class="row">
      {% for automobilis in automobiliai %}
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card mb-4 shadow-sm">
            {% if automobilis.photo %}
              <img src="{{ automobilis.photo.url }}" class="card-img-top" alt="...">
            {% else %}
              <img src="{% static 'img/no-image.png' %}" class="card-img-top">
            {% endif %}
            <div class="card-body">
                <p class="card-text"><a href="{{ automobilis.id }}">{{ automobilis.automobilio_modelis_id.marke }} {{ automobilis.automobilio_modelis_id.modelis }}</a></p>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
              <h6 class="card-subtitle mb-2 text-muted">{{ automobilis.savininkas }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ automobilis.valstybinis_numeris }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ automobilis.vin_kodas }}</h6>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% else %}
      <p>Automobilių nėra.</p>
    {% endif %}
<div class="container puslapiai">
    <nav aria-label="...">
        {% if automobiliai.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-end">
                {% for i in automobiliai.paginator.page_range %}
                    {% if automobiliai.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}