{% extends "base.html" %}

{% block content %}
    {% load static %}
    <div class="container">
    {% if automobilis.photo %}
      <img src="{{ automobilis.photo.url }}" class="card-img-top" alt="...">
    {% else %}
      <img src="{% static 'img/no-image.png' %}" class="card-img-top">
    {% endif %}
    <h4>{{ automobilis.automobilio_modelis_id.marke }} {{ automobilis.automobilio_modelis_id.modelis }}</h4>
    <hr/>
    <p><strong>Savininkas:</strong> {{ automobilis.savininkas }}</p>
    <p><strong>Valstybinis numeris:</strong> {{ automobilis.valstybinis_numeris }}</p>
    <p><strong>VIN kodas:</strong> {{ automobilis.vin_kodas }}</p>
    {% if automobilis.aprasymas %}
        <h3>Aprašymas:</h3>
        <p>{{ automobilis.aprasymas | safe }}</p>
        {% endif %}
    </hr>
    </br>
    </div>
{% endblock %}