{% extends "base.html" %}

{% block content %}
  <h1>Automobiliai</h1>
  <p>Mūsų servise registruoti automobiliai.</p>
  {% for automobilis in automobiliai %}
    <li><a href="{% url 'automobilis' automobilis.id %}">{{automobilis}}</a></li>
    {% endfor %}
<div class="container puslapiai">
    <nav aria-label="...">
        {% if automobiliai.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-end">
                {% for i in automobiliai.paginator.page_range %}
                    {% if automobiliai.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}