{% extends "base.html" %}

{% block content %}
    <h1>Mano užsakymai</h1>

    {% if uzsakymas_list %}
      {% for uzsakymas in uzsakymas_list %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">{{ uzsakymas.klientas_id }}</a>
              <small class="text-muted">{{ uzsakymas.grazinimo_laikas|date:"Y-m-d, f" }}</small>
            </div>
            <p class="article-content">{{ uzsakymas.automobilis_id}}</p>
              <p class="card-text"><a href="{{ uzsakymas.id }}">Peržiūrėti</a></p>
          </div>
        </article>
        <hr>
      {% endfor %}
    {% else %}
      <p>Neturite užsakymų.</p>
    {% endif %}
{% endblock %}