{% extends "base.html" %}

{% block content %}
  <h1>Užsakymų sąrašas</h1>
  {% if uzsakymai %}
  <ul>
    {% for uzsakymas in uzsakymai %}
      <li>
          <a href="{{ uzsakymas.id }}">{{ uzsakymas }}</a>
      </li>

    {% endfor %}
  </ul>
  {% else %}
    <p>Užsakymų nėra.</p>

  {% endif %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}